@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.app {
  font-family: "Poppins", sans-serif;
}

.cover2 {
  height: 30vh;
  position: relative;
  top: 0px;
  background-color: #303f60;
}

.cover {
  height: 50vh;
  position: relative;
  top: 0px;
  background-color: #303f60;
}

.header {
  top: 10px;
  height: 60px;
  width: 90%;
  margin: auto;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid #4d618e;
}

.left {
  float: left;
  margin: 20px 0px;
}

.right {
  float: right;
  margin: 15px 0px;
}

.dash-nav {
  float: right;
  display: flex;
}

.logout-box {
  display: none;
  position: absolute;
  right: 60px;
  top: 60px;
  background: white;
  color: black;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.log-active {
  display: block;
}

.login-signup-btn {
  background: #43afff33 0% 0% no-repeat padding-box;
  border: 1px solid #43afff;
  border-radius: 5px;
  opacity: 1;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
}

.content {
  height: 50%;
  position: absolute;
  top: 80px;
  width: 100%;
}

.initial {
  padding: 5px 12px;
  border-radius: 20px;
  background: #d9efff;
  color: rgb(48, 63, 96);
  margin-right: 10px;
  height: 30px;
}
